
body {
    background: #982775;
    font-family: Arial;
}
h1 {
    color: red;
}
/* ZJEmYtPjHoZ9WAeeSywilnu1wN3jD05PnIV3VdzBkuf9HV04BOCDkXc5yHPDEeoLrTC7Tv9jlHEgEdR7c25frFZn3z8T94v3Et781epNceBK67QojQtrNCbLZFMiwh5L7xTsjIWY9LnvBwPDbPuo8lfpINrOC97n2uIkk7U5TP7yy5DnvfpBsZRcCAOrMmM7i1m75Skw */
